* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-color: #000000;
}

/* 1. Definição das Variáveis Globais */
:root {
  /* Aqui você define o valor que a variável vai carregar */
  --text-base: 0.875rem;       /* Tamanho padrão (ex: Real) */
  --text-small: 0.65rem;      /* Tamanho menor para o Dólar Americano */
  --shadow-button: 0px 4px 10px rgba(119, 47, 211, 0.3);
  --shadow-button-hover: 0 6px 12px rgba(0, 0, 0, 0.25);
  --shadow-image: 0px 4px 8px rgba(0, 0, 0, 0.2);
  
  --color-primary: #0070f3;
  --color-white: #ffffff;
}

.logo-conversor-de-moedas {
    display: flex;
    flex-direction: column;
    /* Organiza a imagem e o texto um abaixo do outro */
    align-items: center;
    /* Centraliza os elementos horizontalmente */
    justify-content: center;
    /* Garante o alinhamento vertical se houver altura definida */
    margin-bottom: 2rem;
    /* Cria o espaçamento perfeito entre a logo e o card branco */
}

/* Estilização da logo */
.app-logo {
    width: 300px;    /* Controla o tamanho máximo para não quebrar em telas menores (Responsividade) */
    height: auto;    /* Mantém a proporção da imagem sem distorcer */
    margin: 18px auto; /* Define margin Top e Bottom */
    border-radius: 9px; /* Adiciona curva na quina da imagem */
}

main {
    width: 375px;
    background: #f4f4f4;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;    /* Organiza a imagem e o texto um abaixo do outro */
    align-items: center;    /* Centraliza os elementos horizontalmente */
    justify-content: center;    /* Garante o alinhamento vertical se houver altura definida */
    padding: 2.75rem 1.5rem 1.4375rem; /* Cria o espaçamento perfeito entre a logo e o card branco */
}

label {
    color: #777777;
    font-weight: 200;
    font-size: 1rem;
    padding-left: 1.125rem;
}

select, input {
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    font-weight: 700;
    height: 3rem;
    width: 20.43rem;
    margin-bottom: 1.5rem;
    
    /* 👇 Boas práticas de acabamento profissional */
    appearance: none;          /* Remove a seta padrão do sistema (Chrome/Firefox/Edge) */
    -webkit-appearance: none;  /* Remove a seta padrão no Safari (iOS/Mac) */
    -moz-appearance: none;     /* Garante a remoção no Firefox antigo */
    
    padding-left: 1rem;        /* Afasta o texto da borda esquerda */
    padding-right: 2.5rem;     /* Garante que o texto não atropele a seta customizada que você colocar */
    cursor: pointer;           /* Muda o ponteiro do mouse para indicar que é clicável */
}

 button {
    border: none;
    background: #772fd3;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 5px;
    width: 20.43rem;
    height: 3rem;
    cursor: pointer;

    /* Aqui o navegador vai ler o valor que colocamos lá no :root */
    box-shadow: var(--shadow-button);
 }

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #772fd3;
    padding: 0.75rem 6.25rem 0.81rem 6.25rem;
    border-radius: 20px;
    margin-top: 2.25rem;
    
}

.arrow-img {
    margin: 0.94rem 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    gap: 4px;
}

.currency {
    color: #777777;
    font-size: 0.875rem;
    margin: 0.5rem 0;
    transition: font-size 0.2s ease-in-out; /* Transição suave */
}

.currency-card__title--small {
  font-size: var(--text-small);
}

.currency-value, .currency-value-to-convert {
    color: #555555;
    font-weight: 700;
    font-size: 1.25rem;
}

.nask-footer {
    transition: opacity 0.3s ease-in-out;
    background: rgba(139, 82, 253, 0.3);
    color: #ffffff;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
    border-radius: 0 0 12px 12px;
    opacity: 0.85;
}

@media screen and (max-width: 600px) {
    .app-logo {
        display: none;
    }
}